.inputbar-container {
    flex-grow: 1;
    input {
        height: 40px;
        width: 150px;
        font-size: larger;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #b3cde0;
        background-color: #343d46;
        color: #b3cde0;
        text-align: center;

        &:focus {
            transition: border 0.2s ease-in;
            outline: none;
            border: 2px solid aqua;
        }
    }
}
