.beat-block {
    border: 1px solid black;
    width: 40px;
    height: 60px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.level-1, .level-2, .level-3 {
    height: 33.333%;

    &.active {
        background-color: blue;
        transition: background-color 0.3s ease-out;
        &.flashing {
            background-color: aqua;
            box-shadow: 0px 0px 10px aqua;
            transition: background-color 0s;
        }
    }
}

.level-1, .level-2 {
     border-top: 1px solid red; 
}
