.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }
  
  .dots {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .first-dot {
    background-color: red;
  }
  
  .active {
    background-color: turquoise;
  }
  