.metronome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;

    .circle {
        height: 50px;
        width: 50px;
        background-color: #555;
        border-radius: 50%;
    }

    .dots {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .first-dot {
        background-color: red;
    }

    .setting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .beats-setting {
            width: 250px;
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            gap: 5px;

            button {
                // flex: 0 0 auto; // don't grow, don't shrink, auto width
                height: 40px;
                width: 40px;
                font-size: 30px;
            }
        }

        .bpm-setting {
            width: 250px;
            margin-top: 20px;
        }
    }
}
